---
layout: default
permalink: courses/
---

<article id="main">
    <header class="special container">
        <span class="icon fa-file-text-o"></span>
        <h2>Courses</h2>
    </header>
    <section class="wrapper style3 container special">
   
        {% assign rows = site.courses.size | divided_by: 2.0 | ceil %}
        {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
        <div class="row">
            {% for course in site.courses limit:2 offset:offset %}
            <div class="6u">
                <section>
                    <a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
                    <header>
                        <h3>{{ course.title}}</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="{{ course.url }}" class="button small">Learn More</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</article>
