<!-- Banner -->		
<section id="banner">
    <div class="inner">
        <img src="images/homelogo2.png" class="image" alt="Care with Confidence" />
        <h2><strong>CARE</strong> WITH <strong>CONFIDENCE</strong></h2>
        <p>Welcome to Care with Confidence Training Consultancy
        <br />
       We are a training company based in the North West of England.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>
    </div>
</section>
